In [1]:
# Importing Libraries
import matplotlib.pyplot as plt
import pandas as pd
from datetime import datetime

## The Plan!
- Got the data from https://www.met.ie/climate/available-data/historical-data
- Downloaded the daily date from Mullingar station and from Dublin airport station
- Read into a Pandas dataframe
- Compare the rain, maxtp, mintp, and windspd at both stations
    - Use datetime
    - Use plotting and get nice plots
    - Provide meaniningful insights
- Is there better weather in Dublin? 
- Get the historical data from Gelngariff
- Compare - is Glengariff really a microclimate? 

## To get marks: 
1. **Plotting:** Creat nice looking plots. Increase the complexity of the plots without deacreasing the legibility
2. **PANDAS:** Use Pandas to read/write/manipulate the data
3. **NUMPY:** How would I use NUMPY for this? 
4. **DATETIME:** Use the datetime module in Python 
5. **Machine Learning and Regression:** Use Scikit learn and some sort of regression to answer a question... Will the different in air temp be the same in the future?
6. **Increase the range of the data:** How would I do this? Read in the forecast for the stations next week and see if the trend continues? 
 
#### Example:
- How much wind power is there at a particular location?
    - This is quite open ended, is this just the mean wind speed for
an hour/day/month/year, or should you take into account that
there are wind ranges that the windfarms can operate in. (min
max speeds)
    - Some analysis of what power when would be useful (time of
day/year)
- Are the wind speeds likely to be the same in 10 years in the future? ie
is there a trend in recorded wind speeds over the last few decades.
- Is there any other weather metric worth analyzing (eg rain, temp)
- What will the power output of the windfarms in Ireland be like next
week, according to the weather forecasts?

In [ ]:
mullingar_daily_weather= pd.read_csv("dly875.csv", skiprows=23)
mullingar_daily_weather = mullingar_daily_weather[["date","rain", "maxtp", "mintp", "wdsp"]]
mullingar_daily_weather

              date  rain  maxtp  mintp  wdsp
0      08-nov-1973   0.6   13.6   10.6  17.6
1      09-nov-1973  13.9   12.3    7.1  14.8
2      10-nov-1973   1.3    9.8    2.7  10.4
3      11-nov-1973   0.8    8.2    1.9   9.3
4      12-nov-1973   5.2   12.6    6.5  20.0
...            ...   ...    ...    ...   ...
18616  27-oct-2024   7.7   13.8    0.7   6.7
18617  28-oct-2024   0.7   14.0   10.0   5.3
18618  29-oct-2024   0.1   11.9    9.4   2.6
18619  30-oct-2024   0.0   13.1   10.3   3.6
18620  31-oct-2024   0.0   11.4    9.3   5.1

[18621 rows x 5 columns]

In [ ]:
dublinairport_daily_weather= pd.read_csv("dly532.csv", skiprows=24)
dublinairport_daily_weather = dublinairport_daily_weather[["date","rain", "maxtp", "mintp", "wdsp"]]
dublinairport_daily_weather

              date  rain  maxtp  mintp  wdsp
0      01-jan-1942   0.0    9.7    6.8  17.2
1      02-jan-1942   0.1    9.9    7.9  15.2
2      03-jan-1942   1.5   11.2    8.9  14.0
3      04-jan-1942   3.5    9.2    2.7  17.0
4      05-jan-1942   0.6    3.5   -0.8  13.0
...            ...   ...    ...    ...   ...
30250  27-oct-2024   3.1   14.6    3.9   9.0
30251  28-oct-2024   1.1   14.7   11.2   8.6
30252  29-oct-2024   0.0   11.5    9.5   7.1
30253  30-oct-2024   0.0   15.0    9.6   4.2
30254  31-oct-2024   0.0   11.2    9.8   6.9

[30255 rows x 5 columns]

In [13]:
glengariff_daily_weather= pd.read_csv("dly201.csv", skiprows=12554)
# glengariff_daily_weather = glengariff_daily_weather[["date","rain", "maxtp", "mintp", "wdsp"]]
glengariff_daily_weather

       03-may-1975  0  0.000 0.1  16.5 0.2  10.7   7.9  12.8
0      04-may-1975  0    0.0   0  16.5   0  10.5   9.9  14.0
1      05-may-1975  0    0.0   0  16.0   0   9.0   5.5  12.2
2      06-may-1975  0    0.0   0  18.9   0   3.5  -1.0   9.5
3      07-may-1975  0    0.0   0  19.9   0   5.1  -0.1  10.5
4      08-may-1975  0    0.0   0  16.9   0   7.5   2.5  12.0
...            ... ..    ...  ..   ...  ..   ...   ...   ...
17188  26-sep-2022  0    2.5   0  18.4   0  11.5   6.7  14.7
17189  27-sep-2022  1    4.7   0  18.2   0  10.7   5.4  15.2
17190  28-sep-2022  1    0.7   0  15.0   0   9.4   4.8
17191  29-sep-2022  1   12.9   0  18.5   0   6.3  -0.1  12.9
17192  30-sep-2022  1    8.5   0  19.3   0  10.0   5.5

[17193 rows x 9 columns]